* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  background-image: url("bg.png");
  background-repeat: repeat;
}

#main, footer {
  background-color: #261911;
  border: 4px solid black;
  padding: 8px;
  width: 70%; 
  overflow: hidden; 
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#main {
  margin-top: 5%;
}

footer {
  margin-bottom: 5%;
  border-top: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p, li, h1, h2, h3, h5 {
  color: #625547;
}

a { color: red; }
a.visited { color: #361d00 }
